{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<link rel="stylesheet" type="text/css" href="/assets/css/mystyle.css">
<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="resume-box">
      <ul>
        <li>
          <div class="icon">
            <i class="fas fa-dot-circle"></i>
          </div>

          <h5 class="title">
            {% if post.collection == 'publications' %}
            <a href="{{ base_path }}{{ post.url }}">{{ title }}</a>
              {% if post.status == 0 %}
                <p style="color: red; display: inline; font-size: 14px;">(Under review)</p>
              {% endif %}
              {% if post.status == 1 %}
                <p style="color: red; display: inline; font-size: 14px;">(Accepted in press)</p>
              {% endif %}
            {% elsif post.collection == 'publications_zh' %}
            <a href="{{ base_path }}{{ post.url }}">{{ title }}</a>
              {% if post.status == 0 %}
                <p style="color: red; display: inline; font-size: 14px;">（正在审核）</p>
              {% endif %}
              {% if post.status == 1 %}
                <p style="color: red; display: inline; font-size: 14px;">（已被接受）</p>
              {% endif %}
            {% else %}
              {% if post.details == true %}
                <a href="{{ base_path }}{{ post.url }}">{{ title }}</a>
              {% else %}
                <div class="title-time">
                  <span class="title">
                    <h5>
                    {{ title }}
                    </h5>
                  </span>
                  <span class="time">
                    {{ post.term }} {{ post.date | date: "%Y" }}
                  </span>
                </div>
              {% endif %}
            {% endif %}
          </h5>

          {% if post.collection == 'publications' or post.collection == 'publications_zh' %}
            <div class="place">
              <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}
            </div>
            <div class="authors">
              {{ post.authors | replace: 'Zhaorun Lin', '<u class="author-highlight">Zhaorun Lin</u>' }}
            </div>
          {% else %}
            <div class="authors">
              {{ post.authors | replace: 'Zhaorun Lin', '<u class="author-highlight">Zhaorun Lin</u>' }}
            </div>
            <div class="place">
              <i>@{{ post.venue }}</i>
            </div>

          {% endif %}

        </li>
      </ul>
    </div>
  </article>
</div>


