{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li>
  {% if post.collection == 'jobs' or post.collection == 'projects' or post.collection == 'archive_projects'%}
    <span class="clickableicon">
      <i class="fas fa-angle-down"></i>
    </span>
  {% else %}
    <span class="icon">
      <i class="fas fa-dot-circle"></i>
    </span>
  {% endif %}
  

  <div class="title-time">
    
    <span class="title">
      <h5>
        {{ post.name }}
        {% if post.links != nil %}
          {% for link in post.links %}
            {% if post.link_types[forloop.index0] == "github" %}
              <a href="{{ link }}">
                <i class="fa fa-github" style="font-size:24px;"></i>
              </a>
            {% elsif post.link_types[forloop.index0] == "publication" %}
              <a href="{{ link }}">
                <i class="fa fa-file-alt" style="font-size:20px;"></i>
              </a>
            {% elsif post.link_types[forloop.index0] == "certificate" %}
              <a href="{{ link }}">
                <i class="fas fa-medal" style="font-size:20px;"></i>
              </a>
            {% elsif post.link_types[forloop.index0] == "link" %}
              <a href="{{ link }}">
                <i class="fas fa-link"></i>
              </a>
            {% elsif post.link_types[forloop.index0] == "youtube" %}
              <a href="{{ link }}">
                <i class="fa fa-youtube-play"></i>
              </a>
            {% elsif post.link_types[forloop.index0] == "video" %}
              <a href="{{ link }}">
                <i class="fas fa-video"></i>
              </a>
            {% elsif post.link_types[forloop.index0] == "pdf" %}
              <a href="{{ link }}">
                <i class="fas fa-file-pdf"></i>
              </a>
            {% else %}
              <a href="{{ link }}">
                <span class="title-link">
                  [{{ post.link_types[forloop.index0] }}]
                </span>
              </a>
            {% endif %}
            &nbsp;
          {% endfor %}
        {% endif %}
      </h5>
    </span>


    <span class="time">
      {% if post.collection == 'jobs' or post.collection == 'projects' or post.collection == 'archive_projects' %}
        {{ post.date | date: "%b %Y" }} - {{ post.end_date | date: "%b %Y" }}
      {% else %}
        {{ post.date | date: "%b %Y" }}
      {% endif %}
    </span>
  </div>
  <div class="content">
    {% if post.place != nil %}
      <div class="place">@{{ post.place }}</div>
    {% endif %}

    {{ post.content }}

    {% if post.details != nil %}
      {% for detail in post.details %}
        <p>&#x2022; {{ detail }}</p>
      {% endfor %}
    {% endif %}

  </div>
  {% if post.technologies != nil %}
    <code>{{ post.technologies | join: ' / ' }}</code>
  {% endif %}
</li>


<!-- {% if post.collection == 'jobs' %}
<span class="clickableicon">
  <i class="fa fa-suitcase"></i>
</span>
{% elsif post.collection == 'projects' or post.collection == 'archive_projects'%}
<span class="clickableicon" style="padding-top: 2px;">
  <i class="fas fa-project-diagram"></i>
</span>
{% else %}
<span class="icon" style="padding-top: 1px;">
  <i class="fas fa-award"></i>
</span>
{% endif %} -->