{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<link rel="stylesheet" type="text/css" href="/assets/css/mystyle.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="resume-box">
      <ul>
        <li>
          {% if post.collection == 'jobs' %}
          <div class="icon">
            <i class="fa fa-suitcase"></i>
          </div>
          {% elsif post.collection == 'projects'%}
          <div class="icon" style="padding-top: 2px;">
            <i class="fas fa-project-diagram"></i>
          </div>
          {% else %}
          <div class="icon" style="padding-top: 1px;">
            <i class="fas fa-award"></i>
          </div>
          {% endif %}

          <div class="title-time">
            
            <span class="title">
              <h5>
                <!-- <a target="_blank" href="{{ post.link }}">{{ post.name }}</a> -->

              {{ post.name }}
              {% if post.collection != 'jobs' %}
              <a href="{{ post.link }}">
                {% if post.link_type == "github" %}
                    <i class="fa fa-github" style="font-size:24px;"></i>
                {% elsif post.link_type == "publication" %}
                    <i class="fa fa-file-alt" style="font-size:20px;"></i>
                {% elsif post.link_type == "certificate" %}
                    <i class="fas fa-medal" style="font-size:20px;"></i>
                {% else %}
                  <span class="title-link">
                    [{{ post.link_type }}]
                  </span>
                {% endif %}
              </a>
              {% endif %}
              </h5>
            </span>


            <span class="time">
              {% if post.collection == 'jobs' or post.collection == 'projects' %}
                {{ post.date | default: "1900-01-01" | date: "%Y-%m" }} - {{ post.end_date | default: "1900-01-01" | date: "%Y-%m" }}
              {% else %}
                {{ post.date | default: "1900-01-01" | date: "%Y-%m" }}
              {% endif %}
            </span>
  

          </div>

          
          {% if post.place != nil %}
            <div class="place">@{{ post.place }}</div>
          {% endif %}
          {{ post.content }}
          {% if post.technologies != nil %}
            <code>{{ post.technologies | join: ' / ' }}</code>
          {% endif %}
          
          <!-- <div>
            {% for link in post.links %}
              {% if post.link_names[forloop.index0] == "github" %}
                <a target="_blank" href="{{ link }}"><i class="fa fa-github" style="font-size:24px; margin-top: 5px"></i></a>
              {% else %}
                <a href="{{ link }}">[{{ post.link_names[forloop.index0] }}]</a>
              {% endif %}
            {% endfor %}
          </div> -->
        </li>
      </ul>
    </div>
  </article>
</div>

<!-- <script>
  var post = {
    details: {{ post.details | jsonify }},
    links: "{{ post.links | jsonify  }}",
    link_names: "{{ post.link_names | jsonify  }}",
  };

  console.log(post.details)

</script> -->


