/* ==========================================================================
   TABLES
   ========================================================================== */

/* Responsive table wrapper */
.table-wrapper {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 1em;
}

table {
  margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 0.9em;
  border-collapse: collapse;
  border: 1px solid $light-gray;

  & + table {
    margin-top: 1em;
  }

  /* Mobile responsive styles */
  @media (max-width: $small) {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 0.75em;
    margin-bottom: 0;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;

  @media (max-width: $small) {
    padding: 0.4em 0.5em;
  }
}

td {
  padding: 0.5em;
  border-bottom: 1px solid $light-gray;
  border-right: 1px solid $light-gray;

  @media (max-width: $small) {
    padding: 0.4em 0.5em;
  }
}

tr, td, th {
  vertical-align: middle;
}