---
layout: default
---

{% include base_path %}

{% comment %}Detect Chinese pages and use zh locale{% endcomment %}
{% if page.collection contains "_zh" %}
  {% assign ui_locale = "zh" %}
{% else %}
  {% assign ui_locale = site.locale %}
{% endif %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <header>
          {% if page.title %}
            <h1 class="page__title" itemprop="headline">
              {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}
              {% if page.paperurl %}
                <a href="{{ page.paperurl }}" target="_blank" title="Download Paper" style="margin-left: 3px; font-size: 0.85em; text-decoration: none;">
                  <i class="fa fa-download" aria-hidden="true"></i>
                </a>
              {% endif %}
            </h1>
          {% endif %}

          {% if page.read_time %}
            <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
          {% endif %}
          {% if page.modified %}
            <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[ui_locale].date_label | default: "Published:" }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{% if ui_locale == "zh" %}{{ page.modified | date: "%Y年%m月%d日" }}{% else %}{{ page.modified | date: "%B %d, %Y" }}{% endif %}</time></p>
          {% endif %}
  
          {% if page.collection == 'teaching' or page.collection == 'teaching_zh' %}
            <p> {{ page.type }}, <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% elsif page.collection == 'publications' and page.status == 0 %}
            <p style="color: red; margin-bottom: 10px;">This paper is currently under review</p>
          {% elsif page.collection == 'publications_zh' and page.status == 0 %}
            <p style="color: red; margin-bottom: 10px;">This paper is currently under review</p>
          {% elsif page.collection == 'publications' and page.status == 1 %}
            <p style="margin-bottom: 10px;">Accepted in <i>{{ page.venue }}</i> {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% elsif page.collection == 'publications_zh' and page.status == 1 %}
            <p style="margin-bottom: 10px;">已在 <i>{{ page.venue }}</i> {{ page.date | default: "1900-01-01" | date: "%Y" }} 被接受</p>
          {% elsif page.collection == 'publications' and page.status == 2 %}
            <p style="margin-bottom: 10px;">Published in <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% elsif page.collection == 'publications_zh' and page.status == 2 %}
            <p style="margin-bottom: 10px;">发表于 <i>{{ page.venue }}</i>, {{ page.date | default: "1900-01-01" | date: "%Y" }} </p>
          {% endif %}
        </header>
      {% endunless %}

      <section class="page__content" itemprop="text">
        {% if page.collection == 'publications' %}
          <p style="font-size: smaller">
            {% if page.citation %}
              • Recommended citation: {{ page.citation }}<br />
            {% endif %}
            {% if page.doi %}
              • DOI: <a target="_blank" href="{{ page.doi }}">{{ page.doi }}</a><br />
            {% endif %}
            {% if page.full_version %}
              • Full version: <a target="_blank" href="{{ page.full_version }}">{{ page.full_version }}</a><br />
            {% endif %}
            {% if page.slidesurl %}
              • <a target="_blank" href="{{ page.slidesurl }}">Download Slides</a>
            {% endif %}
          </p>
        {% elsif page.collection == 'publications_zh' %}
          <p style="font-size: smaller">
            {% if page.citation %}
              • 引用：{{ page.citation }}<br />
            {% endif %}
            {% if page.doi %}
              • DOI: <a target="_blank" href="{{ page.doi }}">{{ page.doi }}</a><br />
            {% endif %}
            {% if page.full_version %}
              • 完整版本：<a target="_blank" href="{{ page.full_version }}">{{ page.full_version }}</a><br />
            {% endif %}
            {% if page.slidesurl %}
              • <a target="_blank" href="{{ page.slidesurl }}">下载PPT</a>
            {% endif %}
          </p>
        {% endif %}

        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
        
        {{ content }}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}
      </footer>

      <!-- {% if page.share %}{% include social-share.html %}{% endif %} -->


      <!-- {% include post_pagination.html %} -->
      {% unless page.url == '/zh/' %}
        {% include post_pagination.html %}
      {% endunless %}

    </div>

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
